doctype html
html
  head
    title Admin System
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='stylesheet', type='text/css', href='/css/main.css')
    base(href="/")
  body
    block land
    .site
      .site__header
        include nav.pug
        if loggedIn
          p.user #{name} #{last}
          p.user #{role}:
        != messages('messages', locals)
      .site__content(onclick = "close()")
        block content
      .site__footer

